<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mytrain.osmx.me">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Train"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTrain"
        tools:replace="android:supportsRtl,android:icon,android:theme,android:label">
        <activity
            android:name=".utils.Privacy"
            android:exported="false" />
        <activity
            android:name=".utils.Conditions"
            android:exported="false" />
        <activity
            android:name=".utils.CallUs"
            android:exported="false" />
        <activity
            android:name=".utils.AboutUs"
            android:exported="false" />
        <activity
            android:name=".payment.MyTicketsList"
            android:exported="false" />
        <activity
            android:name=".UpdateData"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".user.UserProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UserCheck"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".payment.Ticket"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Main Screen -->
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment.TicketsList"
            android:exported="true" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".payment.TicketPicker"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Suggestions"
            android:exported="false"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".News"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TimeTable"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.UserSettings"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".admin.ReadTicket"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".admin.AdminProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QrTicket"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".payment.TicketInfo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".payment.TicketPayment"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Map"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".auth.Signup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".auth.Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Home"
            android:exported="true" />

    </application>

</manifest>