<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mytrain.bluestars.me">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTrain"
        tools:replace="android:supportsRtl,android:icon,android:theme">
        <activity
            android:name=".user.UserProfile"
            android:exported="false" />
        <activity
            android:name=".UserCheck"
            android:exported="false" />
        <activity
            android:name=".payment.Ticket"
            android:exported="false" /> <!-- Main Screen -->
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".payment.TicketsList"
            android:exported="true" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Enquiry"
            android:exported="true" />
        <activity
            android:name=".payment.TicketPicker"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Suggestions"
            android:exported="false"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".News"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".user.UserSettings"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".admin.ReadTicket"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".admin.AdminProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QrTicket"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".payment.TicketInfo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".payment.TicketPayment"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".Map"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".auth.Signup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".auth.Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Home"
            android:exported="true" />
    </application>

</manifest>